@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/sources/logoSinFondo.png" style="background: none;">
    <br>
    <a type="button" class="btn btn-outline-secondary" href='@Url.Action("ConfigurarJuego", "Home")'>Empezar Juego</a>

</div>
