@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/sources/logoNB.png" style="background: none;">
    <hr class="m-0" style="height:10px; color: #E1CFFF;"> </hr>

</div>
