@font-face {
  font-family: Fuente;
  src: url('/sources/fuente.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #CCEFF0;
  color: #E1CFFF;
  font-family: Fuente;
}

.ingresarNombre{
  border-bottom: 0.5px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  
}

.logo{
  width: 5%;
  margin: 0 5% 0 5%;
}

#modal{
  display: none;
  background-color: white;
  width: 50%;
  height: 60%;
  border: 2px solid #E1CFFF;;
  border-radius: 20px;
  padding: 1%;
  font-size: 30px;

  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, .5));
}

#cerrar{
  float: right;
  border: none;
  background: none;

  font-size: 25px;
}

.flex-container{
  display: flex;
}

.flex-item{ 
  flex: 1;
}

.button{
  border: none;
  text-align: center;
  border-radius: 9999px;
  background-color: #E1CFFF;
  padding: .8%;
  color: #e3fbfc;
  font-size: 30px;
  margin: 5%;
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, .2)) drop-shadow(15px 15px 15px #CCEFF0);
  text-decoration: none;
}

.button:hover{
  background-color: #d6c6f0;
  color: #e3fbfc;;
}

.question{
  width: 100%;
  margin: auto;
  /*margin-top: 40px;*/
  background-color: white;
  padding: 1%;
  color: #a58cce;
  /*border-radius: 20px; */
  text-align: center;
  
  
}

.score{
  background-color: #CCEFF0;
  padding: .5%;
  border-radius: 20px;
  text-align: center;
  float: right;
  margin-right: 60px;
  color: #a58cce;
}

.answers{
  
  text-align: center;
  text-decoration:none;
  background-color: #a58cce;
  color: white;  
  border-radius: 15px;
  width: 96%;
  height: 175px;
  font-size: 38px; 
  box-sizing: content-box;  
  position: relative;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 8px 0px black;

}

.answers:hover{  

  background-color: white;
  color: #a58cce;  
  
}

.link{
  color: green;
}

.link:hover{
  color: #E1CFFF;
}


.foto{
  display: block;  
  margin: auto;
  align-items: center;
  margin-top: 30px;
  width: 20%;
  border-radius: 20px;
}

.respuestaCorrecta{
  text-align: center;
  margin-top: 100px;
  font-size: 125px;
}

.secs{
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  font-size: 48px;  
  color: #a58cce;
}