@font-face {
  font-family: Fuente;
  src: url('/sources/fuente.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  background-color: #CCEFF0;
  color: #e1cfff;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #CCEFF0;
  color: #E1CFFF;
  font-family: Fuente;
}

.logo{
  width: 5%;
  margin: 0 5% 0 5%;
}