*{
  margin: 0;
  padding: 0;
  background-color: #CCEFF0;
  color: #E1CFFF;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #CCEFF0;
  color: #E1CFFF;
}

.logo{
  width: 7%;
}